@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Import de la font Roboto depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
   font-family: 'Syne';
}
/* On applique un gris plus clair sur les paragraphes */
p {
   color: #313332;
}
h1,h2,h3
{
    color: green;
}
/* La classe 'hover-effect' permettra de créer un effet de zoom quand l'on passera la souris par dessus les elements images enfants  */
.hover-effect img {
   transition: all 0.33s ease-in-out;
   transform: scale(1) translateY(0px);
}
.hover-effect img:hover {
   transition: all 0.33s ease-in-out;
   transform: scale(1.05) translateY(-10px);
}
#site-header.sticky-top{
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: white ;
}
#site-footer {
    padding: 20px;
    text-align: center;
    color: black;
    background-color: white !important;
 }
 .noborder-color
 {
color: black;
text-decoration: none;
 }
 .center-image
 {
    margin: auto;
    margin-bottom: 30px;
 }